[2015-10-28 23:16] paolabatta opened #5 "super interested (SNPs section?)"
Hola Steven:
I hope you had a good trip back, I had a great time in CT, I arrived last night and I'm getting back into the swing of things.
I will be interested in collaborating, maybe with the SNP section or with CPG. However I want to make sure I understand how it all works. I will be submitting my text and methodology to this repository. And so far you had put in examples of what type of text a

[2015-10-28 23:56] sr320 commented on #5
Hola Paola!
Yes- that is the idea, that we would just collaborate using this repository. We would commit new material as generated. Could either edit online via GitHub or locally, making sure to commit and sync :+1: .

I experimented a bit today with the pull request model (we might have covered that after you left). I think that might be too complicated for most so I will add interested folks as

[2015-10-29 00:07] sr320 opened #6 "Need details of individuals used in sequencing"
![sample_submission_ _geoduck_gonad_for_rna-seq___sam_s_notebook](https://cloud.githubusercontent.com/assets/4442039/10806819/120a2cee-7d96-11e5-96d2-48cd5a4cd833.png)

Hi @grace-ac,
We are trying to get details of the individuals used for sequencing. Could you provide a few sentences or table describing the stages? Histology pics from each would also be great - thanks

[2015-10-29 00:22] sr320 opened #7 "Rerun Swiss-prot Blastx to confirm no segmentation faults"
I need to finish rerunning blastx of whole transcriptome to swiss-prot to confirm intitial results.
Running now. :runner: :runner:

see http://nbviewer.ipython.org/urls/dl.dropbox.com/s/lpjmb6rls68joii/Crazy-blast-Geoduck-v2-b.ipynb

results @ https://www.dropbox.com/sh/o8sg4jdfp7h41wn/AADMrcm-MMAvNOh6JfaqnKDXa?dl=0

[2015-10-29 01:50] grace-ac commented on #6
Hello @sr320 !
I just made an excel spreadsheet with links to pictures, but I need permission to post documents here... or I can just email it to you.

[2015-10-29 01:54] grace-ac commented on #6
Sent an email instead!

[2015-10-29 01:55] grace-ac commented on #6
Hello Steven!! Here's a spreadsheet with descriptions and links to pictures
- I hope it works. Or, I can put it in a different format if you prefer.

On Wed, Oct 28, 2015 at 5:07 PM, Steven Roberts notifications@github.com
wrote:

[2015-10-29 11:29] sr320 commented on #6
Thanks @grace-ac - email did not work, can you just put on eagle and drop url here? I have also "added" you so you should be able to attach files here...

[2015-10-29 15:42] sr320 opened #8 "Compile list of genes and gene sets to look for in transcriptome"
We talked about looking for important genes in the transcriptome.

There are several sources for these.  Maybe we she compile these in a central location?

Possibly in this thread or create a wiki page..

[2015-10-29 19:55] grace-ac commented on #6
Okay! I hope this workshttp://eagle.fish.washington.edu/scaphapoda/Grace/SeqGeoducks_StageInformation/Geoduck_SeqIndividuals_StageInfo.xlsx

[2015-10-29 20:01] mdelrio1 commented on #6
Hi Steven and Grace,
I could download the file, thank you.
(I just modified the link to
http://eagle.fish.washington.edu/scaphapoda/Grace/SeqGeoducks_StageInformation/Geoduck_SeqIndividuals_StageInfo.xlsx)

[2015-10-30 00:33] mdelrio1 commented on #8
I'll work on the annotation and look for some important genes too.

[2015-10-30 02:16] sr320 commented on #8
This is a useful resource
http://figshare.com/articles/Crassostrea_gigas_male_gonad_transcriptional_data_comparison/1004464

It includes fasta file that allows (using blast) to identify genes used in Dheilly et al study "Gametogenesis in the Pacific Oyster Crassostrea gigas: A Microarrays-Based Analysis Identifies Sex and Stage Specific Genes" - also includes corresponding table for sex-specific g

[2015-10-30 02:59] mdelrio1 commented on #8
I have downloaded the files and be able to reproduce the box plot. I'm checking the fasta file.

[2015-10-30 13:40] sr320 commented on #7
Got a few hundred more hits when reran-
https://github.com/sr320/paper-pano-go/tree/master/data-results

will repeat to ensure precise

[2015-10-30 23:05] JaviRobles commented on #5
**Hello!**
Also I am interested, I share the idea of Paola.
I like to read and learn more about all this new landscape for me; if you could provide me essential articles for all this, it would be helpful.
I will also be on the lookout for what happens to it.

Greetings!

[2015-10-31 13:57] sr320 commented on #5
One good place to start with SNPs is to take SAM file from Trinity assembly - https://github.com/sr320/paper-pano-go/wiki/Raw-Data#trinity-output

and use Samtools to create VCF file.  See http://www.htslib.org/doc/samtools.html

[2015-11-01 17:35] sr320 opened #9 "Need to check transcriptome for non-Geoduck sequences"

[2015-11-01 17:52] sr320 commented on #9
Started analysis
see: http://nbviewer.ipython.org/urls/dl.dropbox.com/s/ylm22nfatkaglp8/Crazy-blast-Geoduck-v2-NT.ipynb

[2015-11-01 20:27] sr320 commented on #9
blastn is complete

table @ https://github.com/sr320/paper-pano-go/blob/master/jupyter-nbs/analyses/Geoduck_v2_blastn-NT.out

Now need to decide on which contigs should be classified as likely from associated bacteria in gonadal tissue.....

[2015-11-02 18:09] paolabatta commented on #5
Im on it!

Dra.Paola G. Batta Lona
Departamento de Biotecnologia Marina
CICESE
pbatta@cicese.mx
Tel:+52 (646) 1750500, ext 27164
Carretera Ensenada-Tijuana No. 3918,
Zona Playitas, C.P. 22860,
Ensenada, B.C. Mexico,

On Sat, Oct 31, 2015 at 6:57 AM, Steven Roberts notifications@github.com
wrote:

[2015-11-03 21:31] lacroix54 commented on #5
Hi Steven,

I'm interested too, so, i want to work with the part of annotation. But, first I need to integrate all that you taught us, and i plan to work with Dr. Miguel and Dra. Fabiola, and here i'll be commenting the progress and my queries.

Saludos,
Carmen

[2015-11-04 21:18] mdelrio1 opened #10 "Annotation"
Hi Steven
I´m trying to describe the annotation data, but have some problems.
I have checked the files:
a) Geoduck-transcriptome-v2.fasta
b) Geoduck-tranv2-blastx_sprot.tab
and in this file I did´t obtained the GO data.
Could you please tell me the headers (I could´t find the file with the header of the columns, sorry) and how to obtain the GO information. Thanks

These are the first five rows of

[2015-11-04 23:21] sr320 commented on #7
Completed: https://github.com/sr320/paper-pano-go/blob/master/data-results/Geoduck-tranv2-blastx_sprot.tab

[2015-11-04 23:21] #7 closed

[2015-11-04 23:25] sr320 commented on #10
Hi Miguel-
You are correct, the GO information in not included in those files yet.
The following code should get GO and GO slim information in SQLShare.
sqlshare.escience.washington.edu

[code]

I am trying now on SQLShare to get the results- but it is currently still :runner:

[2015-11-04 23:29] mdelrio1 commented on #10
Thanks Steven, I think it´s best to wait or should I run the code?

[2015-11-04 23:35] sr320 commented on #10
If you want to- go ahead and see if you can get results from your SQLShare
account.
On Wed, Nov 4, 2015 at 3:29 PM Miguel del Rio notifications@github.com
wrote:

[2015-11-04 23:38] mdelrio1 commented on #10
OK, I´ll run it.
It's running

[2015-11-05 02:40] mdelrio1 commented on #10
Hi Steven
It finished, but I couldn't download the database (Geoduck-tranv2-GO ), I shared it with you, however it seems something is wrong, it has 100 Rows and 20 Columns! Could you please tell me what I did wrong.
I'm attaching the snapshot of the run.n Thanks

[2015-11-05 03:17] sr320 commented on #10
From my end it looks like you did it correctly
see screenshot- preview is 100 but there are 100k+ records.

![pic](https://www.evernote.com/l/AArxSsz12_BPSIi2usvdzpRpqks477UvOWAB/image.png)

I think there is a problem on the server side. I am trying to download but it is just "waiting".

I will let it keep going and let you know if I can get a successful download.

[2015-11-05 03:32] mdelrio1 commented on #10
Thanks Steven
I agree with you, in the screen shot I took there were 100 sequences, but know I just entered and there are "Rows 1 - 100 of 102358 “
as in the screen shot you sent me. but I can't download the files. I'll wait to.
Thanks

[2015-11-05 14:24] sr320 commented on #10
Ok I think I finally got it... I ended up doing the two joins separately, then creating a "snapshot", before downloading...

![sq](https://www.evernote.com/l/AArvweq9YvtH6JVfP4JEJ76mldAy-3vIvnIB/image.png)

The CSV file with GO and GO slim (BP only)  information is now in the repo

https://raw.githubusercontent.com/sr320/paper-pano-go/master/data-results/Geoduck-transcriptome-v2-GO-Slim.csv

[2015-11-05 19:28] mdelrio1 commented on #10
Thanks Steven
I manage to download the file this morning too, I got the same results with both files.
This is the image for the annotation. Please let me know whether you prefer a different setting.
https://github.com/mdelrio1/mdelrio-panopea1/blob/master/img/Panopea_annotation.png

[2015-11-05 20:48] lafarga13 opened #11 "CpG"
Hi Steven, I am still trying to check CpG between female and male... hope I can finish it soon..
cause I will have abalone spawning experiments next week +1

[2015-11-05 20:48] lafarga13 commented on #11
:+1:

[2015-11-05 20:56] lafarga13 commented on #10
I am confuse, are you running the annotation again? cause I am currently using the female and male data to generate the CpG's of share genes among them ... Is that ok? As I understand you are using "panopea" all data together for this annotation... right?

[2015-11-05 22:53] mdelrio1 commented on #10
Steven, the image was with all annotated data, here it is the no-duplicate graph.
https://github.com/mdelrio1/mdelrio-panopea1/blob/master/img/Panopea_annotationNoduplicates.png

[2015-11-06 22:22] lafarga13 commented on #9
What would be the criteria to do it?

[2015-11-06 23:07] sr320 commented on #9
That is a great question-  I would say that anything that hits "Bacteria" at an evalue of '0' should be considered likely bacteria, and not Geoduck. I am up for suggestions to what else we should consider.

What are persons thoughts when looking at taxa hits @
https://github.com/sr320/paper-pano-go/blob/master/jupyter-nbs/analyses/Geoduck_v2_blastn-NT.out

Once we agree how stringent to be, we cou

[2015-11-06 23:09] sr320 commented on #10
@lafarga13 - go ahead and do the female and male data. That would be great. Once the analysis workflow is set (or we see something interesting with your analysis) we could do full transcriptome easily.

[2015-11-06 23:16] sr320 commented on #10
@mdelrio1 Looks good! "GO" ahead and add text, figures to main paper repo. You have write access so you can edit directly just as if it was one of your repos.

[2015-11-07 02:49] mdelrio1 commented on #10
@sr320 I'll add the fig and write something in the paper repo. Thanks

[2015-11-07 04:28] mdelrio1 commented on #9
@sr320  @lafarga13
from this file there are 405 (out of 1862=22%) with a max e-value of 8E-21
<img src="https://github.com/mdelrio1/mdelrio-panopea1/blob/master/img/Geoduck_v2_blastn-NT.out.png"/ width = 50%>

the frequency distribution of the eukaryota/bacteria is as follows.
<img src="https://github.com/mdelrio1/mdelrio-panopea1/blob/master/img/EukaryotaBacteria.png"/ width = 50%>

As you can se

[2015-11-10 16:34] sr320 commented on #10
@mdelrio1 do you have a table with unique GOslim information for each contig?

[2015-11-10 18:00] sr320 commented on #6
Here is snapshot

<img src="http://eagle.fish.washington.edu/cnidarian/skitch/Geoduck_SeqIndividuals_StageInfo_xlsx_1BF26834.png" alt="Geoduck_SeqIndividuals_StageInfo_xlsx_1BF26834.png"/>

[2015-11-10 18:01] sr320 commented on #6
I am going to add the description of stage in methods text.

[2015-11-10 18:06] #6 closed

[2015-11-10 18:47] sr320 opened #12 "Determining the completeness of the transcriptome"
We should also compare the transcriptome to related species with complete genomes and/or leverage OrthoDB to assess how "complete" the transcriptome is.

examples
- http://journal.frontiersin.org/article/10.3389/fphys.2013.00180/full#h3
- http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0133053#sec002
- http://onlinelibrary.wiley.com/doi/10.1111/1755-0998.12052/full

[2015-11-10 20:41] mdelrio1 commented on #10
@sr320 Yes, I'll add it to the data-resuts as an excel file with two sheets, one with all information and the second with unique GOslim, unless you say otherwise.

[2015-11-10 21:15] mdelrio1 opened #13 "Trinity assembly parameters"
@sr320 Hi Steven, I couldn't find the Trinity parameters, in order to place them in the manuscript. Could you please tell me where they are. thanks

[2015-11-10 21:30] sr320 commented on #13
The code was as follows

[code]

There are no special parameters - just memory and CPU allocation, maybe could just say default parameters?

[2015-11-10 22:14] mdelrio1 commented on #13
Excellent, thanks, yes, we'll add the default parameters.

[2015-11-11 03:03] mdelrio1 commented on #12
@sr320.  Ok...(?), all check the papers and see how to do the comparison (at least understand it).

[2015-11-11 03:16] mdelrio1 commented on #10
@sr320 The file is in my repository
https://github.com/mdelrio1/mdelrio-panopea1/blob/master/data/Geoduck-transcriptome-v2-GO-Slim.xlsx
I couldn't upload it at the data folder.

[2015-11-11 04:39] mdelrio1 opened #14 "Data difference"
@sr320 I have a doubt,
a) in the 02-Geoduck-protein.ipynb notebook, according with the Deduced Protein based on Transdecoder there are 35951 posible proteins (am I right in the interpretation?)
b) from the manuscript annotation file results you wrote that there are "23,165 (15%) annotated sequences",
c) I obtained 19652 annotated sequences from the Geoduck-transcriptome-V2-GO-slim.csv. I thought t

[2015-11-11 04:40] mdelrio1 commented on #13
should we close this issue?

[2015-11-11 14:06] sr320 commented on #13
Yes

[2015-11-11 14:06] #13 closed

[2015-11-11 14:10] sr320 commented on #10
@mdelrio1 Can you save as a CSV, then add? If not I can try.

NOTE  you should probably rename with 'unique' as there is already a file with this name which has all GOslim info.

[2015-11-11 14:27] sr320 commented on #14
b) The 23,165 refers to the number of transcriptome contigs that had matches, not proteins (though we should add those).

c) No sequences have been subtracted. We can subtract post annotation (now). Related- not all 23165 will necessarily have GOslim information.

d) If we agree only the those 44 bacteria seq should be removed, we probably will not do any thing else with that file. We should keep

[2015-11-11 14:27] #11 closed

[2015-11-11 14:29] sr320 commented on #9
I am thinking now maybe we remove all 405?

[2015-11-11 14:30] sr320 commented on #8
@brentners Can  you provide papers and / or genes you went over in your presentation we should look for?

[2015-11-11 15:15] mdelrio1 commented on #10
@sr320 I have uploaded the .csv file and rename it,
https://github.com/mdelrio1/mdelrio-panopea1/blob/master/data/Geoduck-transcriptome-v2-GO-SlimUnique.csv
it only has the unique GO results
Instead of adding, tried to word count the rows as
`!wc ../panopea_data/data-results/Geoduck-transcriptome-v2-GO-SlimUnique.csv`
but I've got
`0   81687 3320985 ../panopea_data/data-results/Geoduck-transcripto

[2015-11-11 15:25] brentners commented on #8
pmarg-dmrt

pmarg-fem1-like

pmarg-foxl2
CgDsx
CgSoxH

CgFoxL2

/Crassostrea hongkongensis /transcriptome

–Tong et al. 2015

/Pinctada margaritifera /gonad transcriptome

–Teaniniuraitemoana et al. 2014, 2015

/Crassostrea gigas /gonad transcriptome

–Zhang et al. 2014

On 11/11/15 6:30 AM, Steven Roberts wrote:

##

Brent Vadopalas
Principal Research Scientist
University of Washington
School of

[2015-11-11 17:50] sr320 commented on #10
I have added that file to this repo.

**What you have experienced just one of the side effects of using Excel :smile: . Saving as csv in Excel uses non unix line breaks.**

I opened the csv up in TextWrangler and re-saved.

![pic](https://www.evernote.com/l/AAqw4u3GeUhAq4e4WTS592rWiPr0WzyGRBYB/image.png)

changed to Unix
![unix](https://www.evernote.com/l/AAoTCYRRRCBFV765_vWDHLdzzeXWVl7SYcMB/image

[2015-11-11 19:40] mdelrio1 commented on #10
@sr320 Thanks
I was going to say that there seemed to be only one line!!
thanks again I´ll work with TextWrangler

[2015-11-11 19:42] lacroix54 commented on #8
Hi @sr320 ,

I could not find those genes in the file Geoduck-transcriptome-v2-GO-Slim.csv
my search was with the next line (for example):

carmen@carmen-pc:~/Desktop/Geoduck$ grep -i "CgFoxL2" Geoduck-transcriptome-v2-GO-Slim.csv |head |wc
      0       0       0

[2015-11-11 21:53] sr320 commented on #8
Curious  how you looked for them. Maybe the were not top hits but possibly
still homologs are present? One way to search would be to get fasta files
and blast against Geoduck database

On Wed, Nov 11, 2015 at 11:42 AM lacroix54 notifications@github.com wrote:

[2015-11-11 22:08] lacroix54 commented on #8
@sr320
I'm on it...

[2015-11-12 06:11] mdelrio1 commented on #8
@sr320 @lacroix54
Steven, would it be possible that we can't find those genes as GO, because they are not reviewed in the uniprot database
for instance the Cg-Dsx (Doublesex protein) is in the database but it says it is Unreviewed.
http://www.uniprot.org/uniprot/A0A0D3LXK1
I agree that getting the fasta files and blast against Geoduck database, but the Pmag genes are not alone in the GeneBank (as

[2015-11-12 12:48] mdelrio1 commented on #14
Ok, thanks, then I'll do the changes in the results section

[2015-11-13 17:05] #14 closed

[2015-11-13 17:07] #10 closed

[2015-11-13 17:09] sr320 commented on #5
I will go ahead and close this specific issue, but please add new issue as questions arise.. :fire_engine:

[2015-11-13 17:09] #5 closed

[2015-11-13 17:12] sr320 commented on #8
@mdelrio1 absolutely

I suggest we do this from both "directions" you mention

1) Simply use GO terms to identify subset of interesting genes
and
2) Go into papers and get fasta files.

[2015-11-13 17:22] sr320 commented on #9
Also I notice there are another 20 that are likely not Geoduck

fgrep "N/A" analyses/Geoduck_v2_blastn-NT.out

[code]

[2015-11-14 01:25] mdelrio1 commented on #9
@sr320 Yes, i noticed them, did you eliminate the "N/A" data from the database with the "fgrep"? has the Geoduck_v2_blastn-NT.out file been updated? in order to download it. Should we rename it?

[2015-11-14 15:51] sr320 commented on #9
@mdelrio1 I took the transcriptome and removed the Bacteria and N/A sequence - [here](https://github.com/sr320/paper-pano-go/blob/master/jupyter-nbs/01.1-Removal-nonEuk-sequences.ipynb)

I created a new fasta file called `Geoduck-transcriptome-v3.fa`
Because it is >100 MB, only the zipped version is in the repo.

It is located at
../data-results/

We can also remove these seqs post analysis.

[2015-11-14 21:31] mdelrio1 commented on #9
@sr320 Ok, I'm working on it.

[2015-11-15 01:08] sr320 opened #15 "Quality-trimmed fastq files"
Sorry @paolabatta did not see query on wiki-

be sure to open an issue so I get pinged :bell:

I have now added links to fastq files post-trim to wiki
and include them here

*Trimmed fastq files*
- http://owl.fish.washington.edu/halfshell/bu-data-genomic/tentacle/Geoduck_v3/Geo_Pool_F_GGCTAC_L006_R2_001_val_1.fq
- http://owl.fish.washington.edu/halfshell/bu-data-genomic/tentacle/Geoduck_v3/Geo_Poo

[2015-11-15 03:13] mdelrio1 commented on #9
@sr320 Hello, I have carried out the analysis, but, the fasta file did not have the annotations, so I extracted the sequence names and other information from the fasta file and created a small database in excel (sorry, I need more time to work out in IPython how to handle a database) and then selected those sequences that were present in this database (no bacteria, nor N/A). Then I build a pivot t

[2015-11-15 14:15] sr320 commented on #9
Sounds like we have addressed the occurrence of non euk seqs in different ways (which is great as it provides checks).

I would be interested to know how you were able to do this in Excel.

Related, searching `../data-results/Geoduck-transcriptome-v2-GO-Slim.csv` for reproduction results in 222 hits.

As I believe we have addressed the non-euk isssue I will go ahead and close this issue.

[2015-11-15 14:15] #9 closed

[2015-11-16 03:07] mdelrio1 commented on #8
@sr320 I have written how to use the excel in order to get the reproduction genes
https://github.com/mdelrio1/mdelrio-panopea1/blob/master/notes/panopea_analysis_of_goslim_without_bacteria_using_excel.md
Is this what you asked me to do? In case you need more info, let me know.

[2015-11-16 04:03] mdelrio1 commented on #8
The excel file is in
https://github.com/mdelrio1/mdelrio-panopea1/blob/master/data/Geoduck-transcriptome-v2-GO-SlimAnalisis.xlsx

[2015-11-16 19:42] mdelrio1 opened #16 "comparison Dheilly seqs with Geo"
@sr320 I used the files

Dheilly_blastx_Geoduck.out

Geo-pep_tblastn_Dheilly.out

and counted the number of instances all sequences appeared in the other database.

For instance
with the Dheilly's data with blast results in the Geo database (is my interpretation of the blast results correct?), there are a total of 3871 sequences. While the blast with Geo database in Dheilly we obtain 2799 matches.

[2015-11-17 17:02] sr320 commented on #16
Before we get too far down into the details, what do you think about how I tried to tackle this?

Here it the results section
https://github.com/sr320/paper-pano-go/blob/master/manuscript/results/02-annotation.md

Essentially I used blast followed by joining to find those genes comparable to what they determined to be sex-specific or different during gametogenesis.

the [corresponding notebook](ht

[2015-11-17 22:18] mdelrio1 commented on #16
@sr320 I think you´re at the end of the analysis I was trying to do. It´s difficult ("just a little bit") to follow you when you compare the tables with sqlshare. The analysis you carry out on Fri Nov 13 06:42:03 PST 2015 (item [5]) was  to joint Dheilly_blastn_Geoduck-v2 data from the blast (DtoG) and add the information from the Sig6_blastn_Sig9 database. But I don´t know what is in this databas

[2015-11-17 22:48] lafarga13 opened #17 "Perl command"
@sr320
Hi Steven
For the CpG analyses,
can you let me know the options to run this?
I can't run the perl command in my windows, so I am stock and want to run this analyses by myself... can you help me? or let me know how I can length the sequences without the perl command?

!perl -e '$col = 2;' -e 'while (<>) { s/\r?\n//; @F = split /\t/, $_; $len = length($F[$col]); print "$_\t$len\n" } warn "\nA

[2015-11-17 23:22] sr320 commented on #17
Here is Geoduck-transcriptome-v2-len.tab

http://owl.fish.washington.edu/halfshell/bu-git-repos/paper-pano-go/jupyter-nbs/analyses/Geoduck-transcriptome-v2-len.tab

I will also see if I can come up with a non perl solution.

[2015-11-18 00:19] sr320 commented on #17
Ok here is a more elegant solution courtesy of https://github.com/stephenturner/oneliners

`!cat Geoduck-transcriptome-v2.fasta | awk '$0 ~ ">" {print c; c=0;printf substr($0,2,100) "\t"; } $0 !~ ">" {c+=length($0);} END { print c; }'  >  NewTabfile`

Will generate something like

[code]

IF you wanted a simpler file name could first do ...

`!cut -d' ' -f1 ../data-results/Geoduck-transcriptome-v2

[2015-11-18 02:35] sr320 commented on #16
Understand I spent days :hourglass:  figuring this out previously so we could do the same thing for this paper-
http://journal.frontiersin.org/article/10.3389/fphys.2014.00224/abstract

For the Dhielly paper they used Sigenae ID numbers (version 6). For our earlier work we needed to transfer CGI IDs thus created a modified blast table to join. This same table could be used for Geoduck work.

I jus

[2015-11-20 22:32] mdelrio1 commented on #16
@sr320 Steve
I´ve added a figure (Fig. with Dheilly's ( Cluster Des.)) from these data.

https://github.com/sr320/paper-pano-go/blob/master/manuscript/results/02-annotation.md

do you think it is worth? how were you thinking on presenting these data?

[2015-11-24 05:41] mdelrio1 opened #18 "Duplicates"
@sr320 Hi Steven.
I was checking the file Panopea_Dheilly_gameto-matches.xlsx in order to find other interesting genes, and found 11 repeated contigs (f. i.  comp142462_c0_seq1, which by the way is also similar to comp142462_c1_seq1= Sperm-associated antigen involved in sperm motility), which would leave 161, instead of 172 sequences, should I look for more repeated sequences or leave as the file

[2015-11-24 13:23] sr320 commented on #18
Given how this was generating - blasting all Panopea contigs to Dheilly this would be expected. I think it is fine to leave in as these could be different isoforms, homologs.
Related it would be worth determining how trinity labels contigs. comp versus c versus seq.

[2015-11-24 18:53] lafarga13 commented on #17
thanks... hope I can follow it... a lot of things going on finishing the year... sorry about the delays ;-(

[2015-11-26 05:15] mdelrio1 commented on #18
@sr320 Thanks I'll check trinity labelling.

[2015-11-26 21:07] lafarga13 commented on #17
please steven do not close this issue cause I haven't be able to do anything... thanks

[2015-11-26 21:08] lafarga13 commented on #17
@sr320
please steven do not close this issue cause I haven't be able to do anything... thanks
Hope this week can make it finally...

[2016-03-02 22:16] paolabatta opened #19 "access to edit methods section"
Hello:

I was trying to update the SNP section in the methods and I couldn't edit it,  it said i need it to pull request
so it would be great if I can get some sort of contributor access to start adding things to the methods section.
I plan on working on Steve suggestions:
One good place to start with SNPs is to take SAM file from Trinity assembly - https://github.com/sr320/paper-pano-go/wiki/Raw-

[2016-03-02 22:27] sr320 commented on #19
I have added you as a collaborator so you should be able to directly edit now.

[2016-03-02 22:29] sr320 commented on #19
Re samtools, you would need to download on you Mac and run at the command-line
http://www.htslib.org/

The other option would be to run samtools in Cyverse (formerly IPlant)

[2016-03-02 23:11] sr320 opened #20 "Provide new SAM file"
Steven will provide new SAM file, and also add compressed version

[2016-03-02 23:14] sr320 commented on #12
Steven will look for CEGMA and see if that is good option for looking on completeness

[2016-03-03 02:45] #19 closed

[2016-03-04 19:48] JaviRobles opened #21 "Database files! help"
@clareliza   @sr320 Hi Steven!

We are looking for the databases to do expression analyses betwen male and female  and stage. But cannot find the database to work with.

We hope you can help us.

greetings

[2016-03-05 17:12] sr320 commented on #21
I might have to generate those files again. I will check and let you know.
thanks

[2016-03-06 15:49] mdelrio1 opened #22 "Reproduction genes"
@sr320 Hi Steven
I'm checking for the reproduction genes, when you ran the
../jupyter-nbs/01.2-Geo-Trans-annotation.ipynb,
you found 222  sequences related with reproduction, however I only found 9. So I went back and found them, they "got lost" when I obtained the "unique" genes.
Could you please upload the file,
analyses/Geoduck_v2_blastn-NT.out

so I could work with them and check whether they

[2016-03-07 00:08] mdelrio1 opened #23 "Other biological processes"
@sr320 Steven
Should we remove the other biological process (and other metabolic processes) from the annotation fig.

<img src= "https://github.com/sr320/paper-pano-go/blob/master/manuscript/figures/Panopea_annotationNoduplicatesnorbacteria.png?raw=true"  width = 75%>

 as in one of your papers (Timmins-Schiffman et al. 2013)?
If so, it would stay as

<img src= "https://github.com/sr320/paper-pano

[2016-03-07 17:23] JaviRobles commented on #21
Thanks a lot!

[2016-03-08 14:38] sr320 commented on #21
I have added a CSV file
<img src="http://eagle.fish.washington.edu/cnidarian/skitch/paper-pano-go_Male-v-Female-Expression_csv_at_master_·_sr320_paper-pano-go_1C8F1B19.png" alt="paper-pano-go_Male-v-Female-Expression_csv_at_master_·_sr320_paper-pano-go_1C8F1B19.png"/>

direct link: https://github.com/sr320/paper-pano-go/blob/master/data-results/Male-v-Female-Expression.csv?raw=true

This has numbe

[2016-03-08 14:44] sr320 commented on #23
I would say so - as you have noticed this is what I would commonly do

[2016-03-08 14:48] sr320 commented on #22
It is in the repository already...

https://github.com/sr320/paper-pano-go/tree/master/jupyter-nbs/analyses

[2016-03-08 16:13] sr320 commented on #20
A SAM file is available @

http://de.iplantcollaborative.org/dl/d/CAE61D98-6C38-4FC6-A389-F933EC647D33/bowtie.nameSorted.sam

@paolabatta  if you give me a Cyverse user name I can share directly with you there...

[2016-03-08 17:02] paolabatta commented on #20
thank you! @sr320 my Cyverse or iPlant user names is paolabatta

[2016-03-08 17:09] sr320 commented on #20
I have also shared this whole folder with you...

<img src="http://eagle.fish.washington.edu/cnidarian/skitch/_54__Discovery_Environment_1C8F3E99.png" alt="_54__Discovery_Environment_1C8F3E99.png"/>

might be overkill but could make it easier to run stuff in Cyverse.

[2016-03-08 17:39] paolabatta commented on #20
Thank you that was helpful, SAM to BAm conversion is running !!

[2016-03-08 18:41] mdelrio1 commented on #22
@sr320 Thanks, I´ll check them

[2016-03-08 18:42] mdelrio1 commented on #23
Ok

[2016-03-08 22:14] mdelrio1 commented on #21
Thanks @sr320

[2016-03-08 22:27] mdelrio1 commented on #20
Hi Steven
What time do you want us to meet wit you?
Please let me know
Take care
Miguel

[2016-03-09 01:31] sr320 commented on #20
How about 3pm?
On Tue, Mar 8, 2016 at 2:28 PM Miguel del Rio <notifications@github.com>
wrote:

[2016-03-09 03:31] mdelrio1 commented on #20
Ok,
see you tomorrow

Miguel

[2016-03-09 21:10] lacroix54 commented on #23
I have a little difference in the sequences, i took the file "Geoduck-tranv3-blastx_sprot.sorted" and summit in SQLshare, eliminated the duplicates and separated the contigs. I have 16451 contigs that correspond to unique contigs in aspect P (biological process).
@sr320 @mdelrio1 do i have the correct file?

[2016-03-09 23:19] sr320 opened #24 "How many unique contigs with annotation do we have?"

[2016-03-15 17:18] lacroix54 commented on #24
Hi @sr320
I checked over with @mdelrio1 and i was missing some data, because i thought, if we have 22974 sequences and after we obtained with the aspect P (SQL), we obtained 19483, so to prevent take duplicates, I took only the data to correspond to P (16451, but they did not have function or aspect in F or C), which correspond inside of 19483 but no correspond for all the data with the aspect P.

[2016-03-16 03:20] lafarga13 opened #25 "CpG again!!"
@sr320

Hi Steven!!!
Finally I am trying to reproduce what you did in the 05-Geoduck-CpG.ipynb and perl is running in the new computer using Anaconda.

but my jupiter does not recognize this command lines (from 84 step)

import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

What Should I do to run does commands?

this is the message I got…

---------------------------------------

[2016-03-16 03:41] mdelrio1 commented on #25
@lafarga13 @sr320
Faby
close all notebooks, stop the terminal (Ctrl-C), close the terminal session and then anaconda.
open a new terminal window and run
a) conda install pandas
b) conda install -c https://conda.anaconda.org/anaconda biopython
this last one installs biopython.
After installation run anaconda and then the notebook, if this does not work, we'll see it tomorrow.

[2016-03-16 16:25] #24 closed

[2016-03-16 18:34] paolabatta commented on #20
Hello @sr320 I have been trying different approaches to analyze the SAM file (you can see all the attempts I have tried in the shared analyses folder) however I have not been able to obtained a BAM file.
I tried to installed samtools locally on my desktop but haven't been able to make it run yet. Is there a way to test that the samtools in iplant are working properly?

P.s. I might not be able to

[2016-03-16 18:46] JaviRobles commented on #20
hello @sr320 my Cyverse or iPlant user names is  javirobles. Can you share the same file with me please?

[2016-03-17 02:24] lafarga13 commented on #25
no quizo correrlo al final :-1:

[2016-03-17 02:26] lafarga13 commented on #25
so, how to install pandas ???

[2016-03-17 03:34] lafarga13 commented on #25
Logre usar pandas pero en Wakari!!!! no pude desde anaconda

[2016-03-17 07:23] mdelrio1 commented on #25
@sr320 @lafarga13
Steven, sorry I couldn't find the file 'analyses/Geoduck-transcriptome-v2_CpG-GOSlim.tab'
from the 05-Geoduck-CpG.ipynb.
I think I have mange to reproduce the CpG data using biopython and I would like to compare the results.
I uploaded a notebook with the information in my repository
https://github.com/mdelrio1/mdelrio-panopea1/blob/master/CpG-Geo.ipynb
It may need some clean up,

[2016-03-17 17:37] lafarga13 commented on #25
@sr320
I already upload the files Geoduck-transcriptome-v2_CpG-GOSlim.tab (all sequences)
Geoduck-transcriptome-v3_CpG-GOSlim.tab (without bacteria)

I didn´t see to much changes..

[2016-03-17 22:39] JaviRobles opened #26 "rpkm values: first attempt"
Hi! today I tried to calculate the rpkm values with the database that @sr320 provide to us, I did one procedure to calculate it but I dont know if I did it right; so I create a MD file to explain to you how did I get to those values....
Please, if I am too lost I would be very happy if you can turn me to the right direction.

Here the files and the excel table:

https://github.com/JaviRobles/xpres

[2016-03-18 20:25] sr320 commented on #26
This would seem appropriate to me....

[2016-03-19 18:17] mdelrio1 commented on #26
@sr320 @JaviRobles
I was checking the data file you have found several (~17266) reads with either no experiment value, or no male or no female values. I think we should remove them from the calculations (with an "if" statement) in order to reduce the number of points in the graph.
Furthermore, I found several data with strange values in the original file data, for instance
comp122474_c0_seq1,6407,

[2016-03-20 15:39] sr320 commented on #26
Those symbol are in fold difference columns and with no totals reads there is no number
âˆ is when female only and #NAME? is male only (zero female reads).

Personally I would not get to hung up on rpkm etc as we have no reps but just make broad classifcations

for example:

---

Male versus Female Expression

Male "only"
Contigs where Female Unique reads = 0
Male unique reads > 200
148 Contigs

[

[2016-03-22 03:32] mdelrio1 commented on #26
@sr320 @JaviRobles @lacroix54 @lafarga13
Steven
I ran the script in the notebook
paper-pano-go/jupyter-nbs/07-Gene-expressionGeo-Final.ipynb
in order to compare the results that you gave us here, and they are the same.

Also, I was thinking on obtaining the Male over Female (higher expression in males than in females) and the Female over Male genes (Females>Males), and in the notebook
paper-pano-g

[2016-04-02 19:20] mdelrio1 opened #27 "Unique contigs function"
@sr320 @lacroix54
Hi,
I have uploaded a notebook and two files
09-Geo-uniprotfunctions-Final.ipynb
paper-pano-go/data-results/female_protein_names-function.csv
paper-pano-go/data-results/male_protein_names-function.csv
with proteins functions obtained from the UniProt database.
Some proteins do not have a function in the database, we need to check somewhere else.

I'm also trying to condense all i

[2016-04-04 16:36] sr320 commented on #27
Yes a csv file would be great.

On Sat, Apr 2, 2016 at 12:21 PM Miguel del Rio notifications@github.com
wrote:

[2016-06-10 17:11] sr320 opened #28 "Accession numbers for NGS data"
We need to incorporate into manuscript

BioProject: PRJNA316216 - http://www.ncbi.nlm.nih.gov/bioproject/PRJNA316216

Study: SRP072283 - http://trace.ncbi.nlm.nih.gov/Traces/sra/?study=SRP072283

Study (I think this is the link we want): SRP072283 - http://trace.ncbi.nlm.nih.gov/Traces/study/?acc=SRP072283

Female Pool Experiment: SRX1659865 - http://www.ncbi.nlm.nih.gov/sra/SRX1659865

Male Pool

[2016-06-30 01:20] mdelrio1 commented on #28
@sr320 Done, I'm working (slower than wanted) but have not updated the docs. Let you know.

[2016-09-14 14:54] sr320 opened #29 "Outline for September chat"
In getting my head back into this there are a few primary questions.

1. Do we have a large table with all of the contig annotations
2. How was differential expression carried out  -- #26 ??
3. Miguels notebooks in github

[2016-09-24 19:07] #29 closed

[2016-10-03 14:56] #8 closed

[2016-10-03 14:56] #12 closed

[2016-10-03 14:56] #15 closed

[2016-10-03 14:56] #16 closed

[2016-10-03 14:56] #17 closed

[2016-10-03 14:56] #18 closed

[2016-10-03 14:56] #20 closed

[2016-10-03 14:56] #21 closed

[2016-10-03 14:56] #22 closed

[2016-10-03 14:56] #23 closed

[2016-10-03 14:56] #25 closed

[2016-10-03 14:56] #26 closed

[2016-10-03 14:56] #27 closed

[2016-10-03 14:56] #28 closed

[2016-10-03 15:04] sr320 opened #30 "Big Table Questions"
Hi @mdelrio1

Thanks for updating the "Big Table"! I have a couple of questions, suggestions.

1. Looks like annotation is duplicated? My pink on the far right is redundant with the columns with blue thin line? Could Blue line columns be removed.?
2. I suggest removing columns with black lines.
3. For expression I would only include columns you used, I believe `unique` not `total`?

![bt](http://e

[2016-10-03 17:02] mdelrio1 commented on #30
Hello Steven
@sr320
1, 2. Yes, they are redundant columns, I was checking this early  today. I´ll remove the blue and black marked columns
3.  yes, I only used `unique`, I´ll delete the `total` column too

Also, I was wondering whether we need to add to the table the data from the blast results
Column5= pident
Column6= length
Column7= mismatch
Column8= gapopen
Column9= start
Column10= qend
Column1

[2016-10-04 04:08] mdelrio1 commented on #30
Hi @sr320
do you want me to delete the old big-table and replace it for the new one without the repeated columns and the other columns (black marked)?

[2016-10-04 22:23] sr320 commented on #30
Sure - you could just overwrite it. GitHub will keep the older versions.

I do not think sequences need to be / should be flipped - Though we can discuss.

I will be at the Hatchery all day tomorrow so cannot make the call. Should we try to reschedule?
Maybe 1pm Thursday?

[2016-10-05 02:41] mdelrio1 commented on #30
Hi @sr320
I'm having a meeting in Thursday at 11:00, I hope it finishes before 1:00 pm, in case it doesn't could you please wait for me? Thanks
I'll update the files.

[2016-10-05 02:51] mdelrio1 commented on #30
files are uptodate
paper-pano-go/jupyter-nbs/10panopeadataresults.ipynb [https://github.com/sr320/paper-pano-go/blob/master/jupyter-nbs/10panopeadataresults.ipynb]
and
paper-pano-go/data-results/Geoduck-transcriptome_v3_bigtable.csv.zip [https://github.com/sr320/paper-pano-go/blob/master/data-results/Geoduck-transcriptome_v3_bigtable.csv.zip]

[2016-10-11 04:15] mdelrio1 commented on #30
Hi Steven @sr320
I'm trying to add the matching files in order to calculate the GC and CpG considering whether the sequence is in match (5'-3') or in reverse complimentary (3'-5') but the file
paper-pano-go/jupyter-nbs/analyses/Geoduck-tranv3-blastx_sprot.sorted
(where all the blast results are) does not match the
paper-pano-go/data-results/Geoduck-transcriptome-v3.fa.zip
please let me know if you

[2016-10-12 13:47] sr320 commented on #30
@mdelrio1
I will take a look - I am at a conference today - (so cannot make the Skype call today - sorry I think I forgot to tell you before now).

Be in touch soon.
thanks

[2016-10-12 17:07] mdelrio1 commented on #30
@sr320
Don´t worry, let me know when you come back.
Take care

[2016-10-18 11:47] sr320 commented on #30
@mdelrio1 Can you clarify what you mean when you say?

[2016-10-26 02:52] mdelrio1 commented on #30
Hi @sr320
Please check paper-pano-go/jupyter-nbs/10Panopea_databases.ipynb
https://github.com/sr320/paper-pano-go/blob/master/jupyter-nbs/10Panopea_databases.ipynb
I think I optimise some cells and finally got the merging working properly!
there are still some issues. I think we may reduce the number of columns and probably split the datafile into two:
a) contigs with general information and expre

[2016-10-26 03:06] mdelrio1 opened #31 "Specific genes"
@sr320
The notebook paper-pano-go/jupyter-nbs/10Panopea_databases.ipynb inserts at the beginning  "PREDICTED" and at the end "[Panopea generosa]" of the description directly into the the fasta file, see
In [38]
so, there is no need for the
paper-pano-go/jupyter-nbs/searching_genes.ipynb
notebook to add this information. there are 30 sequences for Sandra, I have not seen her yet, but the notebook w

[2016-10-26 12:58] sr320 commented on #30
Sounds good - but I guess I do not see an issue with empty cells.

[2016-10-26 18:05] sr320 opened #32 "table - counts"
Assuming this is the table
`../data-results/Geoduck-transcriptome_v3_bigtable.csv`

I think we only need the counts used, not all four columns
`male_unique,male_total,female_unique,female_total`

[2016-10-26 18:06] sr320 commented on #32
Actually I must be wrong about the table as I remember talking about this

![excel version](http://eagle.fish.washington.edu/cnidarian/skitch/Screenshot_10_3_16__7_52_AM_1DA2A912.png)

[2016-10-30 17:43] mdelrio1 opened #33 "Venn diagram"
@sr320
Hi Steven
I almost have the small table ready. I found that there are some contigs with no blast annotation but matched to the other databases. So I though we could used a Venn Diagram to represent the data that had blastx, Gigaton, Ruphibase and Dhellis (not sure if this is correctly written). Please check notebook
paper-pano-go/jupyter-nbs/10Panopea_databases_smalltable.ipynb
take care

[2016-10-30 23:40] mdelrio1 commented on #33
@sr320
I'm thinking of changing the legends of the Venn diagram to
Blastx -> Uniprot/Swiss-Prot (U/S-Prot?)
Giga-Ton- > Giga-Ton
Rubase -> Ruphibase,
Dh-> Dheilly et al. (not sure about this one)
let me know

[2016-10-31 01:29] mdelrio1 opened #34 "CpG"
@sr320
There are no differences with sequences in forward or reverse complimentary at the CpG values.
Check the notebook
paper-pano-go/jupyter-nbs/CpG_check.ipynb

[2016-11-10 01:42] mdelrio1 commented on #33
@sr320
The Venn diagrams are in paper-pano-go/manuscript/figures,  I left both (I know we will use the 3 circle one, but I liked the 4, sorry) :)

[2016-11-10 01:50] mdelrio1 commented on #30
@sr320
the jupyter notebooks are ready
https://github.com/sr320/paper-pano-go/blob/master/jupyter-nbs/10Panopea_databases.ipynb
for the big and the small table.
The tables themselves are in the data-results file
https://github.com/sr320/paper-pano-go/tree/master/data-results
I couldn't upload file bigger than 25MB, so I had to compress the bigtable file.

The small table notebook is for processing

[2016-11-13 17:21] sr320 opened #35 "Final Final Big Table?"
Hi @mdelrio1

Just wanted to confirm status of big table?
No rush just did not want you waiting around for me...

The one on there now
<img src="http://eagle.fish.washington.edu/cnidarian/skitch/Geoduck-transcriptome_v3_bigtablefinal_1DD8D7B8.png" alt="Geoduck-transcriptome_v3_bigtablefinal_1DD8D7B8.png"/>

just drop the url in below whenever it is ready
thanks
Steven

[2016-11-13 19:05] mdelrio1 commented on #35
@sr320
Yes, it is the last (final) version of the big table!!
https://github.com/sr320/paper-pano-go/blob/master/data-results/Geoduck-transcriptome_v3_bigtablefinal.csv.zip
I had to zip it, there is a limit of 25Mb
and the small table is
https://raw.githubusercontent.com/sr320/paper-pano-go/master/data-results/Geoduck-transcriptome_v3_smalltable.csv
which is in csv raw format.
they should have 153

[2016-11-13 19:41] sr320 commented on #35
But see the screenshot above-- there are duplicate columns that remain and extra columns on the far end..

[2016-12-14 04:18] mdelrio1 opened #36 "annotated microsatellites"
@sr320
Hi Steven
I have uploaded the microsatellite file
https://github.com/sr320/paper-pano-go/blob/master/data-results/geoduck-v3microsatellites.csv
and primers
https://github.com/sr320/paper-pano-go/blob/master/data-results/geoduck-v3primers.csv

Also, I wanted to know how many of the contigs with microsatellites were annotated and made the notebook
https://github.com/sr320/paper-pano-go/blob/m

[2016-12-14 17:45] #33 closed

[2017-02-13 04:50] mdelrio1 opened #37 "Expression levels, review"
@sr320
Hi Steven
I think we  may have an issue with the expression levels. if you look at the file
paper-pano-go/data-results/Male-v-Female-Expression.csv
in line 88, you will see a "#NAME?" datum in column "Experiment - Fold Change (original values)"

comp144391_c0_seq2,6024,-6024,#NAME?,462,6024,0,0

or in line
comp144300_c0_seq10,2,2,âˆ_,0,0,0,2

you'll see a "âˆ_".
I replaced both with zero in

[2017-02-13 17:02] mdelrio1 commented on #37
@sr320
Hi I have uploaded a version 9 of the big table. I have calculated the expression levels and check if they are
female
female>male
male
male>female
considering
a) female, male=0, female >100 (counts)
b) female>male, expression male/ expression female >100
c) male, female=0, male > 100 (counts)
d) male>female, expression male/ expression female >0.01

is this clear? I hope so.

[2017-02-13 17:07] #31 closed

[2018-09-30 00:41] armish opened #38 "Confirm that use of BLAST's `-max_target_seqs` is intentional"
Hi there,

This is a semi-automated message from a fellow bioinformatician. Through a GitHub search, I found that the following source files make use of BLAST's `-max_target_seqs` parameter:

- [jupyter-nbs/01.3-Transcriptome-Completeness.ipynb](https://github.com/sr320/paper-pano-go/blob/fa6ced8ccca21e1d4a36746c0034448bdc4d6c08/jupyter-nbs/01.3-Transcriptome-Completeness.ipynb)

Based on the rece